<strong>Hello, {{ organizer }}!</strong>
<p>There is a new subscription in your meetup: <strong>{{ meetup }}</strong></p>
<p>Check subscriber details:</p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
<p>Let's go!!! This meetup is gonna be awesome =)</p>
