<strong>Olá, {{ organizer }}!</strong>
<p>Houve uma nova inscrição no seu meetup: <strong>{{ meetup }}</strong></p>
<p>Dados do inscrito:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
